/* 
* {background-color: blue;
}
*/

body {
    background-color: aqua;
}

.container {
    background-color: pink;
}

.classsection {
    background-color: yellow;
}

.header {
    background-color: antiquewhite;
}